<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{'app_name' | lang: translate}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <p> {{'introduction'| lang: translate}}</p>
    <ion-button (click)="toggleLang()">
      <ion-ripple-effect></ion-ripple-effect>
      Alternar idioma
    </ion-button>
    <app-header></app-header>
  </ion-content>
</div>
